@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderSection("styles", required: false)
@RenderSection("scripts", required: false)
@RenderBody()

<div id="footerdiv">
    <hr style="border:1px groove #eee;" />
    <footer>
        <p></p>
    </footer>
</div>